<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-transparent">
          <div class="card-header d-flex justify-content-between">
            <h1>Daftar Promo</h1>
            <div class="row justify-content-end align-items-top">
              <div class="col-6 align-items-center">
                <form class="form-inline">
                  <div class="form-group">
                    <div class="input-group mr-2">
                      <input type="text" class="form-control form-control-sm" placeholder="Tulis nama promo"
                        [(ngModel)]="filter.name" name="name" debounceKeyUp (onEvent)="reloadDataTable()" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="col-auto align-items-center">
                <button type="button" class="btn btn-sm btn-primary mr-2" (click)="formCreate()">
                  <em class="fa fa-plus font-size-14 align-middle mr-1"></em>Tambah Promo
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-hover" datatable [dtOptions]="dtOptions">
              <thead class="thead-light">
                <tr>
                  <th style="width: 70px">No</th>
                  <th>Gambar</th>
                  <th>Nama</th>
                  <th>Type</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let promo of listPromo">
                  <td class="vertical-middle">
                    {{ promo.no }}
                  </td>
                  <td class="vertical-middle">
                    <img class="img-promo" src="{{ promo.photo_url }}" alt="" />
                  </td>
                  <td class="vertical-middle">{{ promo.name }}</td>
                  <td class="vertical-middle">{{ promo.status }}</td>
                  <td class="vertical-middle">
                    <span *ngIf="promo.nominal_percentage">{{ promo.nominal_percentage | number }} %</span>
                    <span *ngIf="promo.nominal_rupiah">Rp {{ promo.nominal_rupiah | number:'1.2' }}</span>
                  </td>
                  <td class="vertical-middle text-right">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary">
                        <em class="fa fa-edit font-size-14" (click)="formUpdate(promo)" placement="left" container="body"
                          ngbTooltip="Ubah"></em>
                      </button>
                      <button type="button" class="btn btn-danger" (click)="deletePromo(promo.id)" placement="left"
                        container="body" ngbTooltip="Hapus">
                        <em class="fa fa-trash font-size-14"></em>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid" *ngIf="showForm">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-transparent">
          <div class="card-header d-flex justify-content-between">
            <h1>{{ titleForm }}</h1>
          </div>
          <div class="card-body">
            <app-form-promo [promoId]="promoId" (afterSave)="showForm = false"></app-form-promo>
          </div>
        </div>
      </div>
    </div>
  </div>
  