<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <h3>Daftar Customer</h3>
            <div class=" d-flex justify-content-end">
              <form class="form-inline">
                <div class="row">
                  <div class="col-auto form-group">
                    <div class="input-group mr-2">
                      <ng-select [items]="customers" (change)="filterByCustomer($event)" [multiple]="true"
                        id="filter-customer" style="width: 300px" [placeholder]="
                                filter.customer_id ? ' ' : 'pilih nama customer'
                              " bindLabel="name" bindValue="id" [loading]="showLoading" [searchable]="false"
                        name="customer_id">
                        <ng-template ng-header-tmp>
                          <input class="form-control" type="text" debounceKeyUp
                             />
                        </ng-template>
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-auto form-group">
                    <div class="input-group">
                      <ng-select name="is_verified" appendTo="body" [(ngModel)]="filter.is_verified" placeholder="Status"
                        [searchable]="false" (change)="reloadDataTable()">
                        <ng-option [value]="'1'">Verified</ng-option>
                        <ng-option [value]="'0'">Not Verified</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </form>
              <div class="ms-3 align-items-end">
                <button type=" button" class="btn btn-primary ms-2" (click)="createCustomer(formCustomer)">
                  <em class="fa fa-plus font-size-15 align-middle"></em> Tambah
                  Customer
                </button>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
      <div class="row mt-4 mx-2">
        <table datatable [dtOptions]="dtOptions" class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Email</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of listCustomers">
              <td>{{ customer.no }}</td>
              <td class="vertical-middle">{{ customer.name }}</td>
              <td class="vertical-middle">{{ customer.email }}</td>
              <td class="vertical-middle">
                <p class="badge bg-success" *ngIf="customer.is_verified === 1">
                  Sudah terverifikasi
                </p>
                <p class="badge bg-danger" *ngIf="customer.is_verified === 0">
                  Belum terverifikasi
                </p>
              </td>
              <td class="vertical-middle text-right">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary" (click)="updateCustomer(formCustomer, customer)"
                    ngbTooltip="Ubah">
                    <em class="fa fa-edit font-size-14" placement="left" container="body"></em>
                  </button>
                  <button type="button" class="btn btn-danger" (click)="deleteCustomer(customer.id)" placement="left"
                    container="body" ngbTooltip="Hapus">
                    <em class="fa fa-trash font-size-14"></em>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <ng-template #formCustomer let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">{{ titleModal }}</h5>
      <button type="button" class="close" (click)="modal.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-form-customer [customerId]="customerId" (afterSave)="modal.close(); reloadDataTable()"></app-form-customer>
    </div>
  </ng-template>